/*/
!/Packages/
/Packages/*
!/Packages/Default/
!/Packages/User/
/Packages/User/encoding_cache.json
/Packages/User/oscrypto-ca-bundle.crt
/Packages/User/Package Control.*-ca-bundle
/Packages/User/Package Control.cache/
/Packages/User/Package Control.last-run
