Backup/
Installed Packages/
Local/
Packages/*
!Packages/User
Packages/User/encoding_cache.json
Packages/User/Main.sublime-menu
Packages/User/Package Control.cache/
Packages/User/Package Control.last-run

